@model IEnumerable<vms.entity.models.Salary>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Index";
}

@using Inventory.Utility
@using vms.entity.viewModels
@{
    // var session = Context.Session.GetComplexData<vms.entity.viewModels.vmSession>("session");
}
<div class="product-status mg-tb-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Employee List</h4>

                    @using (Html.BeginForm("Index", "Employe", FormMethod.Get, new { id = "frmProduct" }))
                    {
                        <div class="row">

                            <div class="col-md-5">
                                <div class="input-group Search" style="margin-top:10px">
                                    <input type="text" class="form-control" placeholder="Search..." id="search" name="search" value="@ViewBag.searchText">
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn submit ">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>


                            <div class="add-product">
                                <a href="@Url.Action("Create", "Employe")" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add</a>
                            </div>

                        </div>
                    }
                    <table>
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Name
                                </th>
                                <th class="text-center">
                                    Designation
                                </th>
                                <th class="text-center">
                                    Address
                                </th>
                                <th class="text-center">
                                    Mobile
                                </th>
                                <th class="text-center">
                                    Joining date
                                </th>
                                <th class="text-center">
                                    Gender
                                </th>
                                <th class="text-center">
                                    Salary
                                </th>

                                <th>Settings</th>
                            </tr>
                        </thead>

                        @if (Model.Any())
                        {
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employe.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employe.Designation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employe.Address)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employe.Mobile)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employe.JoiningDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employe.Gender)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BaseSalary)
                                    </td>
                                    <td>
                                        <button data-toggle="tooltip" title="Salary Setp" class="pd-setting-ed">  <a asp-action="PriceSetup" asp-route-id="@item.EmployeId"><i class="fa fa-money" aria-hidden="true"></i> </a> </button>

                                        <button data-toggle="tooltip" title="Edit" class="pd-setting-ed">  <a asp-action="Edit" asp-route-id="@item.EmployeId"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a> </button>

                                        <button data-toggle="tooltip" title="Trash" class="pd-setting-ed" >    <a asp-action="Delete" asp-route-id="@item.EmployeId"><i class="fa fa-trash-o" aria-hidden="true"></i>    </a></button>

                                    </td>

                                </tr>
                                }
                            </tbody>
                        }

                        else
                        {
                            <tr>
                                <td colspan="10">
                                    <p style="text-align: center">No Records Found</p>
                                </td>
                            </tr>
                        }

                    </table>
                    <div class="pager">
                        @Html.PagedListPager(
                            (IPagedList)Model,
                            page => Url.Action("Index", new { page })
                            )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

